body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aquamarine;
}

#heading
{
    font-size:40px;
}

#save_button
{
    font-size:25px;
}

canvas {
    border:1px solid black;
}